!__init__py
**/__pycache__
**/migrations/*.py
!**/migrations/__init__.py
!.empty
*.log
*.pot
*.pyc
*.zip
*.jpg
*.jpeg
*.gif
*.png
assets/media/
assets/static/
# Ignore IDE specific files
.idea/
.vscode/
venv/

/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

